@font-face {
	font-display: fallback;
	font-family: HerthaRegular;
	font-weight: inherit;
	font-style: normal;
	src: url('../../fonts/Hertha-Regular.woff2') format('woff2');
}

@font-face {
	font-display: fallback;
	font-family: HerthaBlack;
	font-weight: inherit;
	font-style: normal;
	src: url('../../fonts/Hertha-Black.woff2') format('woff2');
}
