/* colors */
$color-background-primary: #003974 !default;
$color-background-secondary: #0D59A1 !default;
$color-foreground: #000000 !default;
$color-primary-main: #0070f3 !default;
$color-primary-text: #FFFFFF !default;
$color-secondary-main: #73E8FF !default;
$color-secondary-text: #FFFFFF !default;

/* shadows */
$shadow-text-primary: 0 0 10px #FFFFFF !default;
$shadow-text-secondary: 0 0 10px #0D59A1 !default;

/* border */
$border-radius: 5px !default;
